{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}
        
{% block stylesheets %}{% endblock %}

{% block body %}
    <nav class="navbar navbar-light navbar-expand-lg bg-light justify-content-between fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-nav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a href="{{ path('project')}}" id="titre" class="navbar-brand d-block text-center w-25" ><h1>Plastic archives</h1></a>
        <div class="navbar-collapse collapse dual-nav w-25" >
            <div class="spiners hide mt-5">
                <div class="spin1"></div>
                <div class="spin2"></div>
                <div class="spin3"></div>
            </div>
            <div class="dropdown">
                <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Outils
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% if is_granted('ROLE_ADMIN') -%}
                    <a class="dropdown-item" href="{{ path('admin_index')}}">Admin</a>
                    {%- endif %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') or  is_granted('IS_AUTHENTICATED_ANONYMOUSLY') -%}
                    <a class="dropdown-item" href="{{ path('carte_liste')}}">Liste des cartes</a>
                    <a class="dropdown-item" href="{{ path('repere_liste')}}">Liste des repères</a>
                    {%- endif %}
                    <a class="dropdown-item" href="{{ path('new_carte')}}" role="button">Nouvelle carte</a>
                </div>
            </div>        

            <a class="btn ml-auto" href="{{ path('infos')}}" role="button">Infos</a>
            {% if is_granted('IS_AUTHENTICATED_FULLY') or is_granted('IS_AUTHENTICATED_ANONYMOUSLY') -%}
                <a class="btn ml-auto" href="{{ path('fos_user_security_logout')}}" role="button">Deconnexion</a>
                
            {% else %}
                <a class="btn ml-auto" href="{{ path('fos_user_security_login')}}" role="button">Connexion</a>
                <a class="btn ml-auto" href="{{ path('fos_user_registration_register')}}" role="button">Inscription</a>
            {%- endif %}
           {# <ul class="nav navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href=""><i class="fa fa-twitter"></i></a></li>
                <li class="nav-item"><a class="nav-link" href=""><i class="fa fa-github"></i></a></li>
            </ul>#}
        </div>
    </nav>


       {% block content %}{% endblock %}
{#</div>#}
{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/jquery3.3.1.min.js') }}" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
{% endblock %}