{% extends 'base.html.twig' %}

        
    {% block stylesheets %}
            {{ parent() }}
        <style>
            body .modal-dialog { /* Width */
                max-width: 1000px;
                width: auto !important;
            }
            .plus_case{
                cursor: pointer;
            }
        </style>
    {% endblock %}
    
    {% block body %}
        <h1>Art project</h1>
        
        <h2>Carte n°{{carte.id}}</h2>
        {% set largeur_total = 2000 %}
        {% set dim_carree = 20 %}
        {% set nb_carree = largeur_total/dim_carree %}
        
        <div style="width:2000px;min-height: 500px">
{#        <?php #}
        <div style="{{ "width:"~ largeur_total ~" px;min-height: 500px"}}">
        {{nb_carree}}
        {% for i in 1..nb_carree %}
{#        for ($i = 1; $i <= $nb_carree; $i++) {#}
            {% for j in 1..nb_carree %}
{#            for ($j = 1; $j <= $nb_carree; $j++) {  ?>#}
                <div class="plus_case" style="width: 20px;height: 20px;float: left" data-abcisse="{{i}}" data-ordonnee="{{j}}" data-carte-id="{{carte.id}}" title="{{ i~','~j }}" >+</div>
{#        <?php    }#}
            {% endfor %}
{#        }?>#}
        {% endfor %}
        </div>
        
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div style="width: 250px;min-height: 200px; float: left;">
                        Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
                    </div>
                    <div style="width: 450px;min-height: 200px; float: left;">
                        <img src="https://www.jqueryscript.net/images/Simplest-Responsive-jQuery-Image-Lightbox-Plugin-simple-lightbox.jpg" width="450" />
                    </div>
                    <div style="width: 250px;min-height: 200px; float: left;">
                        Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
        
<!--        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div style="width: 200px;height: 200px; float: left;">
              Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
          </div>
          <div style="width: 200px;height: 200px; float: left;">
              <img src="https://www.jqueryscript.net/images/Simplest-Responsive-jQuery-Image-Lightbox-Plugin-simple-lightbox.jpg" width="200" />
          </div>
          <div style="width: 200px;height: 200px; float: left;">
              Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>-->
        
    {% endblock %}
    {% block javascripts %}
        <script src="http://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script type="text/javascript">
            $(document).ready(function(){
                 $(".plus_case").hover(function(){
                        $(this).css({
                            "transform": "rotate(30deg)",
                            "-moz-transform": 'rotate(30deg)',
                            "-webkit-transform": "rotate(30deg)"
                        }, "slow");
                    }
                 ,function(){
                    $(this).css({
                        "transform": "rotate(0deg)",
                        "-moz-transform": 'rotate(0deg)',
                        "-webkit-transform": "rotate(0deg)"
                    });
                 }
                 
                );
                
                var calculateRepere = function(element) {
                    datas = element.data();
                    $.ajax({
                        url:"{{ path('caculateRepere')}}",
                        method:"POST",
                        data: datas
                    })
                    .done(function(){
                        //html
                        $('.modal').modal('toggle');    
                    });
                    
                };
                
                $('.plus_case').click(function(){
                    var element=$(this);
                    calculateRepere(element);
                });
                
           });
        </script>
    {% endblock %}

