{% extends 'base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/floating-labels.css') }}" >
{% endblock %}

{% block body %}
    
{% if error %}
{#    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
{{error}}
{% endif %}    
    
<form action="{{ path("first_login") }}" method="post" class="form-signin">
    <div class="text-center mb-4">
{#        <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">#}
        <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
{#        <p>Build form controls with floating labels via the <code>:placeholder-shown</code> pseudo-element. <a href="https://caniuse.com/#feat=css-placeholder-shown">Works in latest Chrome, Safari, and Firefox.</a></p>#}
    </div>
    {#{% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}#}

    {#<label for="username">{{ 'security.login.username'|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />#}
{#    <div class="form-label-group">#}
        <input type="hidden" id="username" name="_username" class="form-control" placeholder="{{ 'security.login.username'|trans }}" required="required" autofocus="" autocomplete="username" value="visitor">
{#        <label for="username">{{ 'security.login.username'|trans }}</label>#}
{#      </div>#}

    {#<label for="password">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" name="_password" required="required" autocomplete="current-password" />#}
    <div class="form-label-group">
        <input type="password" id="password" name="_password" class="form-control" placeholder="{{ 'security.login.password'|trans }}" required="required" autofocus="" autocomplete="current-password">
        <label for="password">{{ 'security.login.password'|trans }}</label>
      </div>

{#    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>#}
    {#<div class="checkbox mb-3">
        <label>
          <input type="checkbox" id="remember_me" name="_remember_me" value="on"> Remember me
        </label>
      </div>#}
    
    

{#    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />#}
    <button class="btn btn-lg btn-primary btn-block" id="_submit" name="_submit" type="submit">{{ 'security.login.submit'|trans }}</button>
</form>
{% endblock %}