{% extends 'admin/layout.html.twig' %}

{% block content %}
    {{ parent() }}
    <h1>Images list</h1>
    
    <ul>
        <li>
            <a href="{{ path('admin_image_new') }}">Crée une nouvelle image</a>
        </li>
    </ul>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Poids</th>
                <th>Imagename</th>
                <th>Crée le</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td><a href="{{ path('admin_image_show', { 'id': image.id }) }}">{{ image.id }}</a></td>
                <td>{{ image.imageLabel }}</td>
                <td>{{ tabImg[image.id]|default('Non disponible') }}</td>
                <td><img src="{{ asset('web/images/upload/' ~ image.imageName) }}" width="40" /></td>
                <td>{% if image.createdAt %}{{ image.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_image_show', { 'id': image.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_image_edit', { 'id': image.id }) }}">edit</a>
                        </li>
                        <li>
                            <form action="{{ path('admin_delete_image', { 'id': image.id }) }}" method="POST">
                                <input type="hidden" name="_method" value="PUT">
                                <input type="submit" value="Supprimer" />
                            </form>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
