{% extends 'admin/layout.html.twig' %}
{% form_theme edit_form 'bootstrap_4_layout.html.twig' %}

{% block content %}
    <h1>Texte edit</h1>

    {{ form_start(edit_form) }}
        {{ form_label(edit_form.texteLabel , 'Titre') }}
        {{ form_widget(edit_form.texteLabel) }}
        {{ form_label(edit_form.content, 'Contenu') }}
        {{ form_widget(edit_form.content) }}
        {{ form_label(edit_form.auteur ) }}
        {{ form_widget(edit_form.auteur) }}
        {{ form_label(edit_form.livre) }}
        {{ form_widget(edit_form.livre) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('admin_texte_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
