{% extends 'admin/layout.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>Textes list</h1>
    
    <ul>
        <li>
            <a href="{{ path('admin_texte_new') }}">Crée un nouveau texte</a>
        </li>
    </ul>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Textelabel</th>
                <th>Content</th>
                <th>Auteur</th>
                <th>Livre</th>
                <th>Createdat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for texte in textes %}
            <tr>
                <td><a href="{{ path('admin_texte_show', { 'id': texte.id }) }}">{{ texte.id }}</a></td>
                <td>{{ texte.texteLabel }}</td>
                <td>{{ texte.content }}</td>
                <td>{{ texte.auteur }}</td>
                <td>{{ texte.livre }}</td>
                <td>{% if texte.createdAt %}{{ texte.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_texte_show', { 'id': texte.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_texte_edit', { 'id': texte.id }) }}">edit</a>
                        </li>
                        <li>
                            <form action="{{ path('admin_delete_texte', { 'id': texte.id }) }}" method="POST">
                                <input type="hidden" name="_method" value="PUT">
                                <input type="submit" value="Supprimer" />
                            </form>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
