{% extends "default/layout.html.twig" %}

    {% block title %}Liste de cartes{% endblock %}
        
    {% block stylesheets %}
            {{ parent() }}
        <style>
            body .modal-dialog { /* Width */
                max-width: 1000px;
                width: auto !important;
            }
            .plus_case{
                cursor: pointer;
            }
        </style>
        <link rel="stylesheet" href="{{ asset('css/loader.css') }}" >
    {% endblock %}
    
    {% block body %}
        {{parent()}}
        <div class="container content">
            <h1>Liste des cartes</h1>
            <div class="row">
                <ul class="list-group">
                    {% for carte in cartes %}
                        <li class="list-group-item">
{#                            <span class="pr-5">{{carte.id}} - {{carte.carte_label|default('pas de nom')}}</span><a class="btn btn-primary" href="{{ path('carte_show',{'id':carte.id})}}">Voir</a>#}
                            <form class="form-inline" action="{{ path('carte_edit',{'id':carte.id})}}" method="POST">
                                <span class="pr-5">{{carte.id}}</span>
                                <input class="form-control mr-5" type="text" placeholder="{{carte.carte_label|default('Pas de nom')}}" value="{{carte.carteLabel}}" name="label">
                                <button type="submit" class="btn btn-primary mr-5">Changer de nom</button>
                                <a class="btn btn-primary" href="{{ path('carte_show',{'id':carte.id})}}">Voir</a>
                                <a class="btn btn-primary ml-5" href="{{ path('carte_delete',{'id':carte.id})}}">Supprimer</a>
                            </form>
                            
                        </li>
                    {% endfor %}
                  </ul>
            </div>
        </div>
        
    {% endblock %}
    
    {% block javascripts %}
        <script src="{{ asset('js/jquery3.3.1.min.js') }}" ></script>
        {{parent()}}
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    {% endblock %}